.header{
    display: flex;
    align-items: center;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: solid 1px #EEEEEE;
    padding: 0 24px;
    z-index: 10000;
  }
  
  .header-logo {
   width: 148px;
  }
  
  .header-nav {
   display: flex;
   align-items: center;
   margin-left: auto;
   gap: 48px;
  }
  
  .header-navList{
    display: flex;
    gap: 32px;
    list-style: none;
    border-radius: 25px;
  }
  


  .header-navLink{
   color: var(--primary-color);
   font-weight: bold;
   line-height: 1.8;
   letter-spacing: .1em;
   transition: color .3s linear;
   font-size: 14px;
   display: inline-block;
   margin: auto;
   cursor: pointer;
  }

  .header-navLink::after{
    display: block;
    content: '';
    border-bottom: solid 2px #027333;
    padding-bottom: 15%;
    transform: scaleX(0);
    transition: transform 180ms ease-in-out;

  }
  
  .header-navLink:hover::after{
    transform: scaleX(1);
  }




  html{
    scroll-behavior: smooth;
  }
  body{
    color: 333333;
  }

  
  h2 {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .splide{
    margin: 0 auto;
}

  .splide__slide {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 260px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    text-align: center;
}

 
.splide-image{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.splide__slide:hover{
    transform: scale(1.1);
}

.splide-image-2{
    padding-bottom: 40px;
    border-radius: 10px;
}
.splide__track.rih-sp {
    padding-top: 30px;
    padding-bottom: 30px;
}
  
  
  .wrapper{
    padding: 80px 0 ;
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .container{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: content-box;
  }
  .section{
    padding-top: 80px;
    margin-top: -80px;
  }
  
  .section-body{
    margin-top: 40px;
  }
  .title{
    text-align: center;
  }
  .title-ja{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: .05em;
    display: block;
    font-weight: bold;
  }
  .title-en{
    font-weight: bold;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .1em;
    margin-top: 8px;
    color: var(--primary-color);
    font-family: var(--english-font);
  }
  
  .about-column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    align-items: center;
   
    
  }

  .about-column-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    align-items: center;
    order: 1;
  }
  .about-image{
    border-radius: 50% 0 50% 0 ;
    overflow: hidden;
    width: 300px;
    margin-left: 80px;
    }

 .about-image-2{
    border-radius: 0 50% 0 50%;
    overflow: hidden;
    width: 300px;
    order: 2;
    margin-left: 100px;
}
       

  .about-text{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    margin-top: 40px;
    text-align: center;
  }

  .about-text-inner{
   font-size: 28px;
  }

strong{
    background: linear-gradient(180deg, #fcfcfa 0%, #fcfcfa 70%, #e2c3c2 70%, #e2c3c2 100%);
}


  .footer{
    padding-top: 40px;
    text-align: center;
   }
  
   .footer-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
   }
  
   .footer-logo{
    width: 200px;
  }
  .footer-corporateLink{
    color: #666666;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .footer-snsList{
    display: flex;
    gap: 24px;
  }
  .footer-copyright{
    text-align: center;
    margin-top: 24px;
    border-top: solid 1px #F7F9FB;
    color: #ADADAD;
    font-size: 10px;
    padding: 24px;
  }

  .footer-snsItem:hover{
    animation: shake  .5s;
  }

  @keyframes shake{
    0%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    40%{transform: rotate(15deg);}
    60%{transform: rotate(-15deg);}
    80%{transform: rotate(15deg);}
  }